

header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: cornflowerblue; */

}

header .logo {
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  /* background: chartreuse; */
}


header .nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* background: chocolate; */
}

header .nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  font-weight: 700;
}

header .nav > ul > li > a {
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  
}

.bg{
  margin: 0 auto;
  overflow: hidden;
  max-width: 1920px;
}

.bg .main {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  z-index: -1;
  position: fixed;
}

.slider{
  width: 1920px;
}



.slider div > img{
  width: 100%;
  height: auto;
}

.bx-wrapper {
  text-align: center;
}

.bxslider {
  padding: 0;
  text-align: center;
  width: 1920px;

}


.bx-controls{
  display: none;
}

.content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  background: white;
  margin-top: 900px;
  text-align: center;
}

.content .text{
  /* background: chocolate; */
  height: 380px;
}

.text > h3 {
  text-align: center;
  color: #000;
  font-size: 60px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 50px 0;
}

.text > P {
  font-size: 25px;
  line-height: 40px;
}

.flexbox {
  background: white;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

}

.flexbox .item {
  margin: 0 auto;
  flex-basis: 23.3%;
  flex-shrink: 1;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.flexbox .item img{
 width: 375px;
}


.bener {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1920px;
}
.bener > img{
  max-width: 100%;
}


.content2 {
  background: white;
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.title > h3 {
  text-align: center;
  color: #000;
  font-size: 60px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 50px 0;
}

.content2 .item {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1920px;

}
.content2 .item .img{
  margin: 0 auto;

}
.content2 .item .img img {
  width: 763px;
}

.content2 .item .text {
  padding: 30px 20px;
  box-sizing: border-box;
  text-align: left;
  /* background: red; */
  margin: 0 auto;
  width: 763px;
}

.content2 .item .text>p:nth-child(1) {
  color: red;
}

.content2 .item .text>p:nth-child(2) {
  font-size: 30px;
  margin: 10px 0;
  font-weight: 700;
}

.content2 .item .text>p>a {
  text-decoration: none;
  color: blue;
}



footer {
  padding-top: 100px;
  height: 300px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer > div > h1 > a {
  color: black;
  text-decoration: none;
}

footer>div>p>a {
  color: black;
  text-decoration: none;
}

footer > div > h1 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10%;
}

footer > div > p {
  font-size: 15px;
  line-height: 160%;
}


/* 태블릿 */
@media screen and (min-width:768px) and (max-width:1024px) {


}

/* 폰 */
@media screen and (max-width:767px) {
 

header {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100px;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background: cornflowerblue; */

}

header .logo {
  display: flex;
  flex-grow: 1;
  text-align: center;
  justify-content: center;
  /* background: chartreuse; */
}


header .nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  /* background: chocolate; */
}

header .nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1.5rem;
  justify-content: center;
  font-weight: 700;
}

header .nav > ul > li > a {
  font-size: 15px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  
}



.bg .main {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}

.slider{
  width: 1920px;
  overflow: hidden;
}

.slider div{
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.slider div > img{
  width: 100%;
  height: auto;
}

.bx-wrapper {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  text-align: center;
}

.bxslider {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;

}


.bx-controls{
  display: none;
}

.content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1920px;
  /* ZZZ */
  text-align: center;
}

.content .text{
  /* background: chocolate; */
  height: 300px;
}

.text > h3 {
  text-align: center;
  color: #000;
  font-size: 45px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 50px 0;
}

.text > P {
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
}

.flexbox {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

}

.flexbox .item {
  margin: 0 auto;
  flex-basis: 23.3%;
  flex-shrink: 1;
  flex-grow: 1;

  align-items: center;
  justify-content: center;
}

.flexbox .item img{
 width: 375px;
}


.bener {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1920px;
}
.bener > img{
  max-width: 100%;
}


.content2 {
  max-width: 1920px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.title > h3 {
  text-align: center;
  color: #000;
  font-size: 45px;
  letter-spacing: 0.5px;
  font-weight: 500;
  margin: 50px 0;
}

.content2 .item {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1920px;

}
.content2 .item .img{
  margin: 0 auto;

}
.content2 .item .img img {
  width: 375px;
}

.content2 .item .text {
  padding: 15px 10px;
  box-sizing: border-box;
  text-align: center;
  /* background: red; */
  margin: 0 auto;
  width: 375px;
}

.content2 .item .text>p:nth-child(1) {
  color: red;
}

.content2 .item .text>p:nth-child(2) {
  font-size: 25px;
  margin: 10px 0;
  font-weight: 700;
}

.content2 .item .text > p > a {
  text-decoration: none;
  color: rgb(0, 0, 114);
}

.content2 .item:nth-child(2),
.content2 .item:nth-child(4){
 flex-direction: column-reverse;
}


footer {
  margin: 0 auto;
  max-width: 1920px;
  box-sizing: border-box;
  background: white;
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer > div:nth-child(2){
  font-size: 10px;
}

footer > div > h1 > a {
  color: black;
  text-decoration: none;
}

footer>div>p>a {
  color: black;
  text-decoration: none;
}

footer > div > h1 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10%;
}

footer > div > p {
  font-size: 15px;
  line-height: 160%;
}



}

